section {
  min-height: 100vh;  

}


header {
  min-height: 100vh;  
  background-image: radial-gradient( rgba(0, 0, 0, 0.6), rgb(0, 0, 0 )), url(https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=820&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
  
}

.navbar {
  background-color: transparent;
  
  
}

.nav-link, .navbar-brand {
  color: rgb(252, 252, 252);

}

.about {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgb(0, 0, 0 )),url(https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=847&q=80);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(252, 252, 252);
  padding: 0 5rem;
  
    

}




.projects {
  display: flex;
  
  align-items: center;
  justify-content: space-evenly;
  
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgb(0, 0, 0 )), url(https://images.unsplash.com/photo-1596638787647-904d822d751e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  
  
}

.text {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  text-align: center;
}

.text h1,p span{
  color:white;
  font-size: 2.8rem;
}

div.card {
  opacity: 0.5;
  text-align: left;

  
}

#contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  

}

.social-icons img {
  max-width: 32px;
  max-height: 32px;
  margin-right: 10px;
}
 
.social-icons {
  display: flex;
  justify-content: space-around;
  max-height: 60%;
  background-color: darkslategrey;
  padding: 40px;
  justify-content: center;

}